/**************************/
/*         IMAGES         */
/**************************/
img{
  max-width: 50%;
  border: 1px solid #403925;
  box-shadow: 5px 5px 5px #000;
}

.port-item img {
  width: 75%;
  display:block;
  margin:auto;
  margin-bottom: 25px;
}
.profile{
  width: 10%;
  margin: 1% 1%;
  @include brk-pt-md{
    &.mobile-hidden{
      display:none;
    }
  }
  @include brk-pt-lg{
    &.mobile-hidden{
      display: inline-block;
      float: right;
    }
}

}
/**************************/
/*        Soc Med         */
/**************************/
svg {
  width: 55px;
}

.outer-shape {
  opacity: 1;
  fill: black;
}

.inner-shape {
  opacity: 1;
  fill: #00ffe6;
}
