/**************************/
/*       NAVIGATION       */
/**************************/
nav{
  margin: auto;
  display: block;
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
nav a{
  display: inline-table;
}
