/* Global Layout Set-up */
* {
  font-variant-ligatures: no-common-ligatures;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-sizing: border-box;
}

/*content containers*/
header {
  z-index: 2;
  width: 100%;
  padding: 2px;
  border-bottom: 1px solid hsla(298, 37%, 40%, 0.75);
  background-color: hsla(297, 35%, 15%, 1);
  box-shadow: 10px 10px 10px #000;
  content: "";
  display: table;
  clear: both;
  nav{
    margin-top: 100px
  }
  p{
    @include brk-pt-lg{
    width:31%;
    font-size: 1.25rem;
    margin-right: 25%;
    float:right;
    }
  }
}

body {
  font-family: "Raleway", "Georgia", "serif";
  color: white;
  text-shadow: 2px 2px 5px black;
  background-image: url("../imgs/planet-mountains.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-color: #111;
}

main {
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 50px auto 0px auto;
  padding: 2.5%; }

section {
  margin: auto;
  margin-top: 30px;
  width: 98%;
  border-radius: 5px;
  background-color: hsla(297, 35%, 15%, 0.4);
  box-shadow: 5px 5px 11px #000;
  }

aside {
  float: left;
  content: "";
  display: table;
  clear: both;
}
button {
  cursor: pointer;
  display: block;
  margin: 20px auto;}

.infoBox{
  margin-bottom: 15px;
  text-align: center;
  background-color: hsla(297, 35%, 15%, 1);}

.top{
  margin-top: 25vh;}

.port-item {
  min-height:550px;
  width: 94%;
  display: inline-grid;
  margin-left: 3%;
  @include brk-pt-md{
    width: 47%;
    margin-left: 1.8%;
  }
  @include brk-pt-lg{
    width: 23.5%;
    margin-left: 1.2%;
  }
}

.mobile-hidden {
  display: none;
}

footer{
  z-index: 2;
  width: 100%;
  border-top: 1px solid hsla(298, 37%, 40%, 0.75);
  background-color: #301831;
  content: "";
  display: table;
  clear: both;
  div {
    width: 205px;
    display: block;
    margin: auto;
  }
  a{
    display: inline-block;
  }
}
